<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conquer.sharp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".SharpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".photo.pager.DanMuActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".danmaku.normal.DanMu3Activity"
            android:screenOrientation="portrait" />

        <activity android:name=".danmaku.recycler.DanMu4Activity"
            android:screenOrientation="portrait" />

        <activity android:name=".photo.system.PhotoSelectActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".dialog.DialogActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".deeplink.DeepLinkActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".opengl.OpenGLActivity" />

        <activity android:name=".business.LuckyActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".business.VerticalSeekBarActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".business.WaitNotifyActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".camera.CameraActivity" />

        <activity android:name=".cs.CSActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".photo.preview.PreviewPhotoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".guide.GuideActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".leak.LeakActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".glide.GlideActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".annotation.AnnotationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".agora.live.LiveRoomActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".business.CustomViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".reflect.ReflectActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".binder.AIDLActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".business.KeyboardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".business.SelectorActivity"
            android:screenOrientation="portrait" />

        <!-- Service -->
        <service android:name=".binder.RemoteService"
            android:process=":remote" />
    </application>

</manifest>